<a href="https://colab.research.google.com/github/RiddyMazumder/Introduction-to-Programming-with-Python/blob/main/introduction_to_python_practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Assignment - Python Basics Practice

In this assignment, you'll get to practice some of the concepts and skills covered in the following notebooks:

1. [First Steps with Python and Jupyter](https://jovian.ml/aakashns/first-steps-with-python)
2. [A Quick Tour of Variables and Data Types](https://jovian.ml/aakashns/python-variables-and-data-types)
3. [Branching using Conditional Statements and Loops](https://jovian.ml/aakashns/python-branching-and-loops)


As you go through this notebook, you will find the symbol **???** in certain places. To complete this assignment, you must replace all the **???** with appropriate values, expressions or statements to ensure that the notebook runs properly end-to-end.

**Guidelines**

1. Make sure to run all the code cells, otherwise you may get errors like `NameError` for undefined variables.
2. Do not change variable names, delete cells or disturb other existing code. It may cause problems during evaluation.
3. In some cases, you may need to add some code cells or new statements before or after the line of code containing the **???**.
4. Since you'll be using a free online service for code execution, save your work by running `jovian.commit` at regular intervals.
5. Questions marked **(Optional)** will not be considered for evaluation, and can be skipped. They are for your learning.
6. If you are stuck, you can ask for help on Slack. Post errors, ask for hints and help others, but **please don't share the full solution answer code** to give others a chance to write the code themselves.
7. After submission your code will be tested with some hidden test cases. Make sure to test your code exhaustively to cover all edge cases.

### How to Run the Code and Save Your Work

**Option 1: Running using free online resources (1-click, recommended)**: Click the **Run** button at the top of this page and select **Run on Binder**.


**Option 2: Running on your computer locally**: To run the code on your computer locally, you'll need to set up [Python](https://www.python.org) & [Conda](https://docs.conda.io/projects/conda/en/latest/user-guide/install/), download the notebook and install the required libraries. Click the **Run** button above, select the **Run Locally** option, and follow the instructions.

**Saving your work**: You can save a snapshot of the assignment to your [Jovian](https://jovian.ai) profile, so that you can access it later and continue your work. Keep saving your work by running `jovian.commit` from time to time.

In [1]:
# Install the library
!pip install jovian --upgrade --quiet

  Preparing metadata (setup.py) ... done
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 68.6/68.6 kB 1.6 MB/s eta 0:00:00
  Building wheel for uuid (setup.py) ... done

In [2]:
# Import it
import jovian

In [3]:
project_name='dsmlbootcamp-python-practice'

In [4]:
# Capture and upload a snapshot
jovian.commit(project=project_name, privacy='secret', evironment=None)

[jovian] Detected Colab notebook...
[jovian] jovian.commit() is no longer required on Google Colab. If you ran this notebook from Jovian,
then just save this file in Colab using Ctrl+S/Cmd+S and it will be updated on Jovian.
Also, you can also delete this cell, it's no longer necessary.

## Problem 1 - Variables and Data Types

**Q1: Assign your name to the variable `name`.**

In [6]:
name ='Riddy'

**Q2: Assign your age (real or fake) to the variable `age`.**

In [7]:
age = '21'

**Q3: Assign a boolean value to the variable `has_android_phone`.**

In [8]:
has_android_phone = 'yep'

You can check the values of these variables by running the next cell.

In [9]:
name, age, has_android_phone

('Riddy', '21', 'yep')

**Q4: Create a dictionary `person` with keys `"Name"`, `"Age"`, `"HasAndroidPhone"` and values using the variables defined above.**

In [33]:
person = {
    "Name": name,
    "Age": age,
    "HasAndroidPhone": has_android_phone
}

Let's use the `person` dictionary to print a nice message.

In [34]:
print("{} is aged {}, and owns an {}.".format(
    person["Name"],
    person["Age"],
    "Android phone" if person["HasAndroidPhone"] else "iPhone"
))

Riddy is aged 21, and owns an Android phone.

**Q4b (Optional): Use a `for` loop to display the `type` of each value stored against each key in `person`.**

Here's the expected output for the key `"Name"`:

```
The key "Name" has the value "Derek" of the type "<class 'str'>"
```

In [41]:
# this is optional
???

Object `?` not found.

Now that you've solved one problem, it would be a good idea to record a snapshot of your notebook.

In [36]:
jovian.commit(project=project_name,environment=None)

[jovian] Detected Colab notebook...
[jovian] jovian.commit() is no longer required on Google Colab. If you ran this notebook from Jovian,
then just save this file in Colab using Ctrl+S/Cmd+S and it will be updated on Jovian.
Also, you can also delete this cell, it's no longer necessary.

## Problem 2 - Working with Lists

**Q5: Create a list containing the following 3 elements:**

* your favorite color
* the number of pets you have
* a boolean value describing whether you have previous programming experience

In [97]:
my_list =["Red","Blue","Yellow",6]

Let's see what the list looks like:

In [98]:
my_list

['Red', 'Blue', 'Yellow', 6]

**Q6: Complete the following `print` and `if` statements by accessing the appropriate elements from `my_list`.**

*Hint*: Use the list indexing notation `[]`.

In [99]:
print('My favorite color is', my_list[1])

My favorite color is Blue

In [100]:
print('I have {} pet(s).'.format(my_list[3]))

I have 6 pet(s).

In [101]:
if len(my_list)>2:
    print("I have previous programming experience")
else:
    print("I do not have previous programming experience")

I have previous programming experience

**Q7: Add your favorite single digit number to the end of the list using the appropriate list method.**

In [102]:
my_list.append(7)

Let's see if the number shows up in the list.

In [103]:
my_list

['Red', 'Blue', 'Yellow', 6, 7]

**Q8: Remove the first element of the list, using the appropriate list method.**

*Hint*: Check out methods of list here: https://www.w3schools.com/python/python_ref_list.asp

In [104]:
my_list.remove("Red")

In [105]:
my_list

['Blue', 'Yellow', 6, 7]

**Q9: Complete the `print` statement below to display the number of elements in `my_list`.**

In [106]:
print("The list has {} elements.".format(my_list))

The list has ['Blue', 'Yellow', 6, 7] elements.

Well done, you're making good progress! Save your work before continuing

In [107]:
jovian.commit(project=project_name,environment=None)

[jovian] Detected Colab notebook...
[jovian] jovian.commit() is no longer required on Google Colab. If you ran this notebook from Jovian,
then just save this file in Colab using Ctrl+S/Cmd+S and it will be updated on Jovian.
Also, you can also delete this cell, it's no longer necessary.

## Problem 3 - Conditions and loops

**Q10: Calculate and display the sum of all the numbers divisible by 7 between 18 and 534 i.e. `21+28+35+...+525+532`**.

*Hint*: One way to do this is to loop over a `range` using `for` and use an `if` statement inside it.

In [120]:
# store the final answer in this variable
sum_of_numbers = 0

for num in range(18, 535):  # Loop through full range
    if num % 7 == 0:  # Check if divisible by 7
        sum_of_numbers += num

In [121]:
print('The sum of all the numbers divisible by 7 between 18 and 534 is', sum_of_numbers)

The sum of all the numbers divisible by 7 between 18 and 534 is 20461

In [122]:
jovian.commit(project=project_name,environment=None)

[jovian] Detected Colab notebook...
[jovian] jovian.commit() is no longer required on Google Colab. If you ran this notebook from Jovian,
then just save this file in Colab using Ctrl+S/Cmd+S and it will be updated on Jovian.
Also, you can also delete this cell, it's no longer necessary.

## Problem 4 - Flying to the Bahamas

**Q11: A travel company wants to fly a plane to the Bahamas. Flying the plane costs 5000 dollars. So far, 29 people have signed up for the trip. If the company charges 200 dollars per ticket, what is the profit made by the company?**

Fill in values or arithmetic expressions for the variables below.

In [133]:
cost_of_flying_plane = 400

In [134]:
number_of_passengers = 50

In [135]:
price_of_ticket = 30

In [136]:
profit = (number_of_passengers*price_of_ticket)-cost_of_flying_plane

In [137]:
print('The company makes of a profit of {} dollars'.format(profit))

The company makes of a profit of 1100 dollars

**Q11b (Optional): Out of the 29 people who took the flight, only 12 buy tickets to return from the Bahamas on the same plane. If the flying the plane back also costs 5000 dollars, and does the company make an overall profit or loss? The company charges the same fee of 200 dollars per ticket for the return flight.**

Use an `if` statement to display the result.

In [138]:
# this is optional
if profit>400:
    print("The company makes an overall profit of {} dollars".format(profit))
else:
    print("The company makes an overall loss of {} dollars".format(profit))

The company makes an overall profit of 1100 dollars

Great work so far! Want to take a break? Remember to save and upload your notebook to record your progress.

In [139]:
jovian.commit(project=project_name,environment=None)

[jovian] Detected Colab notebook...
[jovian] jovian.commit() is no longer required on Google Colab. If you ran this notebook from Jovian,
then just save this file in Colab using Ctrl+S/Cmd+S and it will be updated on Jovian.
Also, you can also delete this cell, it's no longer necessary.

## Problem 5 - Twitter Sentiment Analysis

Are your ready to perform some *Data Analysis with Python*? In this problem, we'll analyze some fictional tweets and find out whether the overall sentiment of Twitter users is happy or sad. This is a simplified version of an important real world problem called *sentiment analysis*.

Before we begin, we need a list of tweets to analyze. We're picking a small number of tweets here, but the exact same analysis can also be done for thousands, or even millions of tweets. The collection of data that we perform analysis on is often called a *dataset*.

In [140]:
tweets = [
    "Wow, what a great day today!! #sunshine",
    "I feel sad about the things going on around us. #covid19",
    "I'm really excited to learn Python with @JovianML #zerotopandas",
    "This is a really nice song. #linkinpark",
    "The python programming language is useful for data science",
    "Why do bad things happen to me?",
    "Apple announces the release of the new iPhone 12. Fans are excited.",
    "Spent my day with family!! #happy",
    "Check out my blog post on common string operations in Python. #zerotopandas",
    "Freecodecamp has great coding tutorials. #skillup"
]

Let's begin by answering a very simple but important question about our dataset.

**Q12: How many tweets does the dataset contain?**

In [141]:
number_of_tweets = len(tweets)

Let's create two lists of words: `happy_words` and `sad_words`. We will use these to check if a tweet is happy or sad.

In [142]:
happy_words = ['great', 'excited', 'happy', 'nice', 'wonderful', 'amazing', 'good', 'best']

In [143]:
sad_words = ['sad', 'bad', 'tragic', 'unhappy', 'worst']

To identify whether a tweet is happy, we can simply check if contains any of the words from `happy_words`. Here's an example:

In [145]:
sample_tweet = tweets[0]

In [146]:
sample_tweet

'Wow, what a great day today!! #sunshine'

In [147]:
is_tweet_happy = False

# Get a word from happy_words
for word in happy_words:
    # Check if the tweet contains the word
    if word in sample_tweet:
        # Word found! Mark the tweet as happy
        is_tweet_happy = True

Do you understand what we're doing above?

> For each word in the list of happy words, we check if is a part of the selected tweet. If the word is indded a part of the tweet, we set the variable `is_tweet_happy` to `True`.

In [148]:
is_tweet_happy

True

**Q13: Determine the number of tweets in the dataset that can be classified as happy.**

*Hint*: You'll need to use a loop inside another loop to do this. Use the code from the example shown above.

In [149]:
# store the final answer in this variable
number_of_happy_tweets = 0

# perform the calculations here
for tweet in tweets:
    for word in happy_words:
        if word in tweet:
            number_of_happy_tweets += 1

In [152]:
print("Number of happy tweets:", number_of_happy_tweets)

Number of happy tweets: 6

**Q14: What fraction of the total number of tweets are happy?**

For example, if 2 out of 10 tweets are happy, then the answer is `2/10` i.e. `0.2`.

In [156]:
happy_fraction = 2/10

In [157]:
print("The fraction of happy tweets is:", happy_fraction)

The fraction of happy tweets is: 0.2

To identify whether a tweet is sad, we can simply check if contains any of the words from `sad_words`.

**Q15: Determine the number of tweets in the dataset that can be classified as sad.**

In [158]:
# store the final answer in this variable
number_of_sad_tweets = 0

# perform the calculations here
for tweet in tweets:
    for word in sad_words:
        if word in tweet:
            number_of_sad_tweets += 1

In [159]:
print("Number of sad tweets:", number_of_sad_tweets)

Number of sad tweets: 2

**Q16: What fraction of the total number of tweets are sad?**

In [160]:
sad_fraction = 2/10

In [161]:
print("The fraction of sad tweets is:", sad_fraction)

The fraction of sad tweets is: 0.2

## Submission

Congratulations on making it this far! You've reached the end of this assignment, and you've just completed your first data analysis problem. It's time to record one final version of your notebook for submission.

Make a submission on your assignment `submit` page for evaluation.

## Optional Questions

Great work, even with some basic analysis, we already know a lot about the sentiment of the tweets given to us. Let us now define a metric called "sentiment score", to summarize the overall sentiment of the tweets. These questions are optional and will not be evaluated.

**Q16b (Optional): Calculate the sentiment score, which is defined as the difference betweek the fraction of happy tweets and the fraction of sad tweets.**

In [162]:
sentiment_score = 0.2/0.2

In [163]:
print("The sentiment score for the given tweets is", sentiment_score)

The sentiment score for the given tweets is 1.0

In a real world scenario, we could calculate & record the sentiment score for all the tweets sent out every day. This information can be used to plot a graph and study the trends in the changing sentiment of the world. The following graph was creating using the Python data visualization library `matplotlib`, which we'll cover later in the course.

<img src="https://i.imgur.com/6CCIwCb.png" style="width:400px">

What does the sentiment score represent? Based on the value of the sentiment score, can you identify if the overall sentiment of the dataset is happy or sad?

**Q16c (Optional): Display whether the overall sentiment of the given dataset of tweets is happy or sad, using the sentiment score.**

In [164]:
if 1.0:
    print("The overall sentiment is happy")
else:
    print("The overall sentiment is sad")

The overall sentiment is happy

Finally, it's also important to track how many tweets are neutral i.e. neither happy nor sad. If a large fraction of tweets are marked neutral, maybe we need to improve our lists of happy and sad words.

**Q16d (Optional): What is the fraction of tweets that are neutral i.e. neither happy nor sad.**

In [165]:
# store the final answer in this variable
number_of_neutral_tweets = 0

# perform the calculation here
number_of_neutral_tweets = 10 - (number_of_happy_tweets + number_of_sad_tweets)

In [166]:
neutral_fraction = number_of_neutral_tweets/10

In [167]:
print('The fraction of neutral tweets is', neutral_fraction)

The fraction of neutral tweets is 0.2

Let's save our work one final time.

In [168]:
jovian.commit(project=project_name,environment=None)

[jovian] Detected Colab notebook...
[jovian] jovian.commit() is no longer required on Google Colab. If you ran this notebook from Jovian,
then just save this file in Colab using Ctrl+S/Cmd+S and it will be updated on Jovian.
Also, you can also delete this cell, it's no longer necessary.

Ponder upon these questions and try some experiments to hone your skills further:

* What are the limitations of our approach? When will it go wrong or give incorrect results?
* How can we improve our approach to address the limitations?
* What are some other questions you would like to ask, given a list of tweets?
* Try collecting some real tweets from your Twitter timeline and repeat this analysis. Do the results make sense?

## LeetCode Problems

### [**Problem 500**](https://leetcode.com/problems/keyboard-row/) - **Keyboard Row**

Given an array of strings words, return the words that can be typed using letters of the alphabet on only one row of American keyboard like the image below.

![](https://assets.leetcode.com/uploads/2018/10/12/keyboard.png)


**Example 1:**
```
Input: words = ["Hello","Alaska","Dad","Peace"]
Output: ["Alaska","Dad"]
```

In [187]:
def findWords(words):
    r1 = set("qwertyuiop")
    r2 = set("asdfghjkl")
    r3 = set("zxcvbnm")

    result = []

    for word in words:
        w_set = set(word.lower())
        if w_set.issubset(r1) or w_set.issubset(r2) or w_set.issubset(r3):
            result.append(word)
    return result
words = ["Hello", "Alaska", "Dad", "Peace"]
print(findWords(words))  # Output: ["Alaska", "Dad"]

['Alaska', 'Dad']

In [188]:
# This should return "True"
findWords(["omk"]) == []

True

In [189]:
# This should return "True"
findWords(["Hello","Alaska","Dad","Peace"]) == ["Alaska","Dad"]

True

In [190]:
# This should return "True"
findWords(["adsdf","sfd"]) == ["adsdf","sfd"]

True

### [**Problem 804**](https://leetcode.com/problems/unique-morse-code-words/) - **Unique Morse Code Words**

International Morse Code defines a standard encoding where each letter is mapped to a series of dots and dashes, as follows:

- `a maps to `.-`,
- `b` maps to `-...`,
- `c` maps to `-.-.`, and so on.

For convenience, the full table for the `26` letters of the English alphabet is given below:
```
[".-","-...","-.-.","-..",".","..-.","--.","....","..",".---","-.-",".-..","--","-.","---",".--.","--.-",".-.","...","-","..-","...-",".--","-..-","-.--","--.."]
```
Given an array of strings `words` where each word can be written as a concatenation of the Morse code of each letter.

- For example, "cab" can be written as "-.-..--...", which is the concatenation of "-.-.", ".-", and "-...". We will call such a concatenation the transformation of a word.

Return the number of different transformations among all words we have.

**Example 1:**

```
Input: words = ["gin","zen","gig","msg"]
Output: 2
Explanation: The transformation of each word is:
"gin" -> "--...-."
"zen" -> "--...-."
"gig" -> "--...--."
"msg" -> "--...--."
There are 2 different transformations: "--...-." and "--...--.".
```

**Constraints:**
- `1 <= words.length <= 100`
- `1 <= words[i].length <= 12`
- `words[i]` consists of lowercase English letters.

In [206]:
def uniqueMorseRepresentations(words):
    morse_codes = [".-","-...","-.-.","-..",".","..-."]

In [207]:
# This should return "True"
uniqueMorseRepresentations(["adsdf","sfd"]) == ["adsdf","sfd"]

False